APPLE_CALENDAR_MCP_SAFETY_MODE=safe_manage
APPLE_CALENDAR_MCP_ALLOWED_CALENDARS=
# Calendars that may be created/updated/deleted on. Reads are not restricted by this.
APPLE_CALENDAR_MCP_WRITE_ALLOWED_CALENDARS=
APPLE_CALENDAR_MCP_LOG_LEVEL=INFO
