APPLE_MAIL_MCP_SAFETY_PROFILE=safe_manage
APPLE_MAIL_MCP_TRANSPORT=stdio
APPLE_MAIL_MCP_HOST=127.0.0.1
APPLE_MAIL_MCP_PORT=8000
APPLE_MAIL_MCP_LOG_LEVEL=INFO
APPLE_MAIL_MCP_ALLOWED_ATTACHMENT_ROOT=
APPLE_MAIL_MCP_DEFAULT_SEARCH_LIMIT=10
APPLE_MAIL_MCP_VISIBLE_DRAFTS=true
